<h1><%= @list.name %></h1>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.movie.title %> - <%= bookmark.comment %>
      <%= link_to "Supprimer", bookmark_path(bookmark), method: :delete, data: { confirm: "Es-tu sûr(e) ?" } %>
    </li>
  <% end %>
</ul>

<%= link_to 'Ajouter un signet', new_list_bookmark_path(@list) %>


